<div class="container">


  <div class="jumbotron text-center">
    <h1>Welcome To CodeAstra</h1>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-3" ng-repeat="students in st.studentResponse.students">
      <div class="thumbnail" ui-sref="studentDetails({klass_id: students.klass_id, section_id: students.section_id, id: students.id})">
        <div class="caption">
          <h4>Roll.No: {{ students.roll_number }}</h4>
          <h4>Name: {{ students.name }}</h4>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <div class="caption">
          <span class="glyphicon glyphicon-plus-sign center-block" aria-hidden="true"></span>
        </div>
      </div>
    </div>
  </div>
</div>
