<div class="container">


  <div class="jumbotron text-center">
    <h1>Welcome To CodeAstra</h1>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-4">
      <table>
        <thead></thead>
        <tbody>
          <tr>
            <td><h5>Roll.No</h5></td>
            <td>&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td><h4>{{ sd.studentResponse.student.roll_number }}</h4></td>
          </tr>
          <tr>
            <td><h5>Name</h5></td>
            <td>&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td><h4>{{ sd.studentResponse.student.name }}</h4></td>
          </tr>
          <tr>
            <td><h5>Gender</h5></td>
            <td>&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td><h4>{{ sd.studentResponse.student.gender }}</h4></td>
          </tr>
          <tr>
            <td><h5>Father's Name</h5></td>
            <td>&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td><h4>{{ sd.studentResponse.student.fathers_name }}</h4></td>
          </tr>
          <tr>
            <td><h5>DOB</h5></td>
            <td>&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td><h4>{{ sd.studentResponse.student.dob }}</h4></td>
          </tr>
          <tr>
            <td><h5>Phone</h5></td>
            <td>&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td><h4>{{ sd.studentResponse.student.phone }}</h4></td>
          </tr>
          <tr>
            <td><h5>Email</h5></td>
            <td>&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td><h4>{{ sd.studentResponse.student.email }}</h4></td>
          </tr>
          <tr>
            <td><h5>Address</h5></td>
            <td>&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td><h4>{{ sd.studentResponse.student.address }}</h4></td>
          </tr>
          <tr>
            <td><h5>House</h5></td>
            <td>&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td><h4>{{ sd.studentResponse.student.house_name}}</h4></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
